#login .nav-item>a {
    color: var(--bs-dark);
    border-radius: 0 !important;
    background-color: transparent;
}
#login .nav-item>a + hr{
    opacity: 0;
}

#login .nav-item>a.active {
    font-weight: bold;
    background-color: transparent;
}

#login .nav-item>a.active + hr{
    opacity: 1;
}
